<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Website</title>

    <!-- Style CSS-->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!-- Favicon-->
    <link rel="shortcut icon" href="/static/img/python-logo.png">

</head>
<body>
    
    <nav>
        <div class="container">
            <h2>Python Flask Website</h2> <img src="/static/img/python-logo.png" class="img-fluid" width="100px"/>
        </div>
    </nav>

    <main>
        <div class="container">
            <h2>Projects</h2>
            <hr>
            <div class="row cards">
                <div class="col col-lg-4 text-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top img-fluid" src="/static/img/bootstrap-logo.png" alt="Bootstrap">
                        <div class="card-body">
                          <h5 class="card-title">Bootstrap Simple Template</h5>
                          <p class="card-text">Quick Bootstrap Template for PC SERVICE.</p>
                          <a href="https://szymon90452.github.io/PC-Service-Theme/" class="btn btn-primary" target="blank">Check</a>
                        </div>
                      </div>
                </div>

                <div class="col col-lg-4 text-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top img-fluid" src="/static/img/stonka-logo.png" alt="Video Game">
                        <div class="card-body">
                          <h5 class="card-title">Stonka Express Game</h5>
                          <p class="card-text">Simple game made on Unity Engine. Become warehouse worker!</p>
                          <a href="https://szymon90452.itch.io/stonka-express" class="btn btn-primary" target="blank">Check</a>
                        </div>
                      </div>
                </div>

                <div class="col col-lg-4 text-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top img-fluid" src="/static/img/React.webp" alt="React logo">
                        <div class="card-body">
                          <h5 class="card-title">React BMI Calculator</h5>
                          <p class="card-text">Simple React App. You can check your BMI!</p>
                          <a href="https://szymon90452.github.io/BMI-Calculator/" class="btn btn-primary" target="blank">Check</a>
                        </div>
                      </div>
                </div>
            </div>
            <a href="/index.html"><button type="button" class="btn btn-info"><h3>Return to main page</h3></button></a>
            <hr>
        </div>
    </main>

    <footer>
        <div class="container">
            <h4>&copy; Szymon Janiak &bull; 2020</h4>
        </div>
    </footer>

</body>

    <!-- Bootstrap scripts-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>